<div class="container">
  <%= simple_form_for [@cocktail] do |c| %>
    <%= c.input :name %>
    <%= c.submit "Swish Swish", class: "btn btn-primary" %>
  <% end %>

  <h3><%= link_to "Add an ingredient", new_cocktail_dose_path</h3>
</div>


