<%= render "shared/navbar" %>

<div id="new-cocktail-background">
  <div class="container cocktail-form-div">
    <div class="cocktail-form">
      <%= simple_form_for [@cocktail] do |f| %>
        <%= f.input :name, label: 'Whats Your Poison?'%>
        <%= f.submit "Swish Swish", class: "btn btn-cocktail" %>
      <% end %>
    </div>
  </div>
</div>
