.dose-form {
  background-color: rgba(0,0,0,0.3);
  padding: 40px 20px;
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dose_name {
  width: 300px;
  margin-bottom: 10px;
}

.btn-dose {
  background-color: $charcoal;
  color: white;
}

label {
  color: white;
  font-size: 32px;
}
