#new-cocktail-background {
  background-image: url("alt_form_background.jpg");
  background-size: cover;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

form #new-cocktail {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cocktail-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

#cocktail_name {
  width: 300px;
  margin-bottom: 10px;
}

#new-cocktail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cocktail {
  background-color: $charcoal;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.btn-cocktail:hover {
  background-color: rgb(50,50,50);
  color: white;
}

.cocktail_name {
  color: white;
  font-size: 32px;
}
