.container {
  margin: 0, auto;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.index-action-about {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 20px 10px 40px 10px;
}

.btn-add {
  background-color: rgba(210, 151, 27, 0.6);
  border-radius: 10px;
  flex: 0 0 30%;
  margin-left: 20px;
  padding: 20px 15px 20px 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 7;
}

.btn-add:hover {
    // background-color: rgba(210, 151, 27, 0.7);
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgb(100,100,100);
  }

.about-paragraph {
  flex: 0 0 60%;
  margin-right: 20px;
  // height: 200px;
  // width: 400px;
}

// /* Main navbar */
// .navbar-wagon {
//   box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
//   background: white;
//   transition: all 0.3s ease;
//   height: 70px;
//   padding: 0px 30px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// /* Right section */
// .navbar-wagon-right {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// /* Basic navbar item */
// .navbar-wagon-item {
//   cursor: pointer;
//   padding: 0 20px;
// }
// /* Navbar link */
// .navbar-wagon-link {
//   color: #616668;
//   font-size: 14px;
//   font-weight: bold;
//   text-decoration: none;
// }

// .navbar-wagon-link:hover {
//   text-decoration: underline;
// }


